{% extends "base.html" %}

{% block base1 %}
<div style="margin-left:6%; margin-right:6%;">
    <br>
    <h2> Books are a way of life!!!</h2>
    <br><br>
<p>Murasaki Shikibu, a Japanese woman, wrote the novel “The Tale of Genji” in the 11th century. It consisted of fifty-four chapters revolving around courtly seduction, and this book is believed to have been the world’s first-ever written novel.  

    In ancient times, people still kept on reading novels. Today, some devices allow readers to consume stories on their handheld screens rather than from actual books, making reading convenient and easy. Reading books has been scientifically proven to provide humans with various benefits, including enjoyment, information, and pleasure.
    
    Reading books can improve your mental and physical health. The benefits of reading books can start in childhood and last forever. 
    
    Because we know you’re interested in finding out as much as possible about how your hobby can improve your life, you will find below detailed explanations about each separate benefit, split into relevant categories. 
    
    </p>
    <br>

    <p><strong>Better vocabulary</strong> <br><br>
        According to researchers, children who regularly read books at an early age develop large vocabularies in the long run. When the child has the benefit of vocabulary, they affect their academic success by passing the different set tests, eventually getting college admissions, and have vast job opportunities.
        
        Many employers are looking for people with soft skills, such as communicating clearly. Benefits of reading books include exposing the reader to new words directly from the read context, increasing your soft skills.
        
        </p>

        <br>

        <p><strong>Stress relief</strong> <br><br>
            Whether it’s a novel or an article, a great story will distract you from the daily tasks and issues. When you have your hands on a well-written novel, it will transport you to another realm, while an engaging article will keep you focused on the present; the tension you have is automatically drained away, allowing your entire body to relax. 

In 2009, the University of Sussex carried out a study and found that there was a 68% reduction of stress levels by reading for only six minutes. How cool is that? A great book will have you venture into places where your stress levels can’t.  
            </p>
</div>

{%endblock%}